@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Web application based on ASP.NET MVC, called MvcSoporteCF, which will facilitate the management of information corresponding to computer support in an organization.
     This application will include functionalities to manage the notices made by employees to repair faults or the configuration of computer equipment.</br>
    he following is a brief description of the function of the different options links in the menu:</p>
<ul>
    <li>Inicio: Main page with different links to the official asp.net page.</li>
    <li>Acerca de: The description page of the application.</li>
    <li>Contacto: The contact example page.</li>
    <li>Avisos: It allows managing the notices that employees make to repair faults or to configure computer equipment. the rows are ordered by notice date (Fecha Aviso) in descending order.
     It also includes a drop-down list with the values in the table (TipoAveria) to find the row that corresponds to the selected value. There is another field to enter the employee's 
    name and the matching values will be displayed. You can create new Notices and edit, delete and view the details of existing ones.</li>
    <li>Empleados: View employees, create new and edit, view details and eliminate employees.</li>
    <li>Equipos: It allows to visualize the computer equipment to create new rows, to edit, to see details and to delete existing ones.</li>
    <li>Tipo Averias: It allows to visualize the types of breakdowns create new rows, edit, see details and delete existing ones.</li>
    <li>Localizaciones: It allows to visualize the locations create new rows, edit, see details and delete existing ones.</li>
    <li>Regitrarse: Register an account by entering the email and password in the form. The data entered in the fields will be validated.</li>
    <li>Inicia sesión: Allows you to log in with the email and password previously registered. It also gives the option to remember the password or to register if an account is not available.</li>
    <li>web application created by sandra casado</li>
</ul>